
(require racket/os)
(define hostname (gethostname))
(define username (getenv "USER"))


(define template
"## If your Emacs is installed in a non-standard location, you may need
## to copy this file to a standard directory, eg ~~/.config/systemd/user/ .
## If you install this file by hand, change the Exec lines below
## to use absolute file names for the executables.
[Unit]
Description=Emacs
Documentation=info:emacs

[Service]
Type=exec
ExecStart=/home/~a/.guix-extra-profiles/emacs/emacs/bin/emacs --fg-daemon
ExecStop=/home/~a/.guix-extra-profiles/emacs/emacs/bin/emacsclient --eval \"(kill-emacs)\"

# The location of the SSH auth socket varies by distribution, and some
# set it from PAM, so don't override by default.
# Environment=SSH_AUTH_SOCK=path/to/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target"
)

(format template username username)