configuration {
 modi: "window,drun,run,ssh,combi";
 font: "hack 10";
 combi-modi: "window,drun,ssh";
 icon-theme: "Oranchelo";
 show-icons: true;
 sidebar-mode: true;
 nide-scrollbar: true;
 location: 0;
 terminal: "kitty";
 }

@theme "catppuccin-latte"

